<div style="background-color: #a0b450; min-height: 270px; width: 100%;">
	<div class="row" style="background-color: white; width: 100%; margin: 0; padding-top: 5px; padding-bottom: 5px;">
		<div class="col-sm-2"></div>
		<div class="col-sm-2">
			<a style="text-decoration: none;" href="https://www.meier-ag.ch/cms/impressum/">IMPRESSUM</a>&nbsp;&nbsp;&nbsp;
			<a style="text-decoration: none;" href="https://www.meier-ag.ch/cms/datenschutz/">DATENSCHUTZ</a>&nbsp;&nbsp;&nbsp;
			<a style="text-decoration: none;" href="https://www.meier-ag.ch/cms/sitemap/">SITEMAP</a>
		</div>
		<div class="col-sm-5"></div>
		<div class="col-sm-2">
			<a style="color: #a0b450; text-decoration: none;" href="https://www.meier-ag.ch/cms/newsletter/">NEWSLETTER</a>&nbsp;&nbsp;&nbsp;
			<a style="text-decoration: none;" href="https://www.facebook.com/meier.gartencenter" target="_blank" title="Facebook">
				<img title="Facebook" alt="Facebook" src="/assets/gcm/images/facebook-gartencenter.png" width="9" height="19">
			</a>&nbsp;
			<a style="text-decoration: none;" href="https://www.tripadvisor.ch/Restaurant_Review-g1444416-d4323344-Reviews-Meiers_Restaurant-Duernten.html" target="_blank" title="Tripadvisor">
				<img title="Tripadvisor" alt="Tripadvisor" src="/assets/gcm/images/trip-gartencenter.png" width="25" height="15">
			</a>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<div class="row" style="margin: 40px 0 0 0;">
		<div class="col-sm-2"></div>
		<div class="col-sm-2" style="color: #ffffff; font-size: 16px; text-decoration: none;">
			<i class="fa fa-arrow-right"></i> <a style="color: #ffffff; font-size: 16px; text-decoration: none; line-height: 1.42857143;" href="https://www.meier-ag.ch/cms/gartencenter/services/historie/">Über uns</a><br>
			<i class="fa fa-arrow-right"></i> <a style="color: #ffffff; font-size: 16px; text-decoration: none; line-height: 1.42857143;" href="https://www.meier-ag.ch/cms/gartencenter/services/pressematerial/">Medien</a><br>
			<i class="fa fa-arrow-right"></i> <a style="color: #ffffff; font-size: 16px; text-decoration: none; line-height: 1.42857143;" href="https://www.meier-ag.ch/cms/gartencenter/services/warenanlieferung/">Warenanlieferung</a><br>
			<i class="fa fa-arrow-right"></i> <a style="color: #ffffff; font-size: 16px; text-decoration: none; line-height: 1.42857143;" href="https://www.meier-ag.ch/cms/gartencenter/services/stromtankstelle/">Stromtankstelle</a><br>
			<i class="fa fa-arrow-right"></i> <a style="color: #ffffff; font-size: 16px; text-decoration: none; line-height: 1.42857143;" href="https://www.meier-ag.ch/cms/gartencenter/services/lieferservice/">Lieferservice</a>
		</div>
		<div class="col-sm-1" style="color: #ffffff; font-size: 16px; text-decoration: none;">
			<i class="fa fa-arrow-right"></i> <a style="color: #ffffff; font-size: 16px; text-decoration: none; line-height: 1.42857143;" href="https://www.meier-ag.ch/cms/gartencenter/services/spielgarten/">Spielgarten</a><br>
			<i class="fa fa-arrow-right"></i> <a style="color: #ffffff; font-size: 16px; text-decoration: none; line-height: 1.42857143;" href="https://www.meier-ag.ch/cms/gartencenter/services/kundenkarte/">Kundenkarte</a><br>
			<i class="fa fa-arrow-right"></i> <a style="color: #ffffff; font-size: 16px; text-decoration: none; line-height: 1.42857143;" href="/index">Gutscheine</a><br>
			<i class="fa fa-arrow-right"></i> <a style="color: #ffffff; font-size: 16px; text-decoration: none; line-height: 1.42857143;" href="https://www.meier-ag.ch/cms/gartenkurse/">Gartenkurse</a><br>
			<i class="fa fa-arrow-right"></i> <a style="color: #ffffff; font-size: 16px; text-decoration: none; line-height: 1.42857143;" href="https://www.meier-ag.ch/cms/gartencenter/services/stellenmarkt/">Stellenmarkt</a>
		</div>
		<div class="col-sm-3"></div>
		<div class="col-sm-2">
			<a href="https://www.meier-ag.ch/cms/">
				<img src="/assets/gcm/images/Logo_Ernst_Meier_AG_Footer.png">
			</a>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>


